# Enforce Unix newlines
*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.less  text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
*.sh    text eol=lf

# Leave everything else as is
*.*     binary

*.jpg binary
*.gif binary
*.png binary
*.jpeg binary
*.xml binary
*.pdf binary